@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Luza Blog</h1>
    <p>Usuário Logado: @Model.LoggedInUsername</p>
    <ul style="list-style: none;">
        @if (Model.Postagens != null)
        {
            @foreach (var item in Model.Postagens)
            {
                <li class="liPostagens">
                    <div class="usuarioDatePostagem">
                        @Html.DisplayFor(modelItem => item.UserId) + " - " + @Html.DisplayFor(modelItem => item.DatAtualizacao)
                    </div>
                    <div class="usuarioConteudoPostagem">
                        @Html.DisplayFor(modelItem => item.DesConteudo)
                    </div>
                    
                </li>
            }
        }
    </ul>
</div>
