@page
@model ProjetoLuzaBlog.Pages.Autenticacao.RegistroModel
@{
    ViewData["IsLoginPage"] = true;
    <head>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <form method="post">


        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <div class="page pageCadastro">
            <div class="formLogin">
                <main role="main" class="pb-3">
                    <h4>Cadastre seu usuário</h4>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" type="password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <hr />
                    <div class="form-group">
                        <label>Já possui cadastro?</label>
                        <a asp-page="Login">Logue aqui</a>
                    </div>
                </main>
            </div>
        </div>

    </form>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}
